/* .body {
  font-family: -apple-system, 
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
} */





.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered1 {
position: absolute;
top: 17%;
left: 50%;
transform: translate(-50%, -50%);
width: 15%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 700; 
}

.centered2 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indexbut {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 32px;
  font-weight: 700;
  padding: 15px 20px;
  font-size: 25px;
}

.bottom-left {
  position: absolute;
  bottom: 25%;
  left: -5%;
}


.bottom-left2 {
  position: absolute;
  bottom: 27%;
  left: 60%;
  font-size: 16px;
  font-weight: 500;
}

.login {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .loginform{
  background-color:rgba(155, 46, 7, 0.436);
  padding: 40px 40px 40px 40px;
  border-radius: 30px;
  font-size: 18px;
}

#exampleInputEmail1, #exampleInputPassword1 {
border-radius: 30px;
border-color: black;
border-style: solid;
}

.signin {
border-radius: 30px;
background-color: rgb(32, 31, 31);
color: white;
padding: 4px 16px 4px 16px;
border-color: rgb(19, 19, 19);
border-style: solid;
}


.top-left {
position: absolute;
top: 8px;
left: 16px;
}

.top-right {
position: absolute;
top: 8px;
right: 16px;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

/* Navbar Styles */

.navbar-brand {
margin-right: 0px !important
}




.errorlist {
    list-style: none !important;
    margin: 0.4rem 0;
    color: red !important;
    padding: 0;
}

.errors input{
    border: 1px solid red!important;
}

 /* styling baby registration form ends*/



  /* styling baby registration form starts*/

  /* .daycare_forms{
    width: 50%;
    margin: 10% auto;
    background-color: rgb(87, 210, 244);
    color:rgb(0, 0, 0);
    padding: 20px;
    border-radius: 25px;
    
} */

  /* styling baby registration form starts*/


 /* Styling Model Forms starts */

 .form-container {
  display: flex;
  flex-wrap: wrap;
}
.form-container .form-column {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
}

 /* Styling Model Forms starts */