/* .body {
  font-family: -apple-system, 
  BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
} */

/* TopNavigation and Sidebar Starts */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(99, 189, 181);
  font-size: 14px;
}


/* The side navigation menu */
.sidebar {
margin: 0;
padding: 0;
width: 200px;
background-color: rgb(21, 105, 111);
position: fixed;
height: 100%;
overflow: auto;
}

/* Sidebar links */
.sidebar a {
display: block;
color: rgb(238, 242, 240);
padding: 16px;
text-decoration: none;
}


.sidebar a:hover {
background-color: rgb(40, 40, 40);
color: rgb(238, 242, 240);
}
/* Active/current link */
.sidebar a:active {
background-color: rgb(99, 189, 181);
color: rgb(238, 242, 240);
}

/* Links on mouse-over */
.sidebar a:hover:not(.active){
background-color: rgb(40, 40, 40);
color: rgb(238, 242, 240);
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
margin-left: 200px;
padding: 1px 16px;
height: 1800px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
.sidebar {
width: 100%;
height: auto;
position: relative;
}
.sidebar a {float: left;}
div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
.sidebar a {
text-align: center;
float: none;
}
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(40, 40, 40);
color: white;
text-align: center;
font-size: 12px;
}

.topnav input[type=text] {
float: right;
padding: 6px;
border: none;
margin-top: 8px;
margin-right: 16px;
font-size: 17px;
}


/* TopNavigation and Sidebar Ends */

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered1 {
position: absolute;
top: 17%;
left: 50%;
transform: translate(-50%, -50%);
width: 15%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: 700; 
 
}

.centered2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indexbut {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 32px;
  font-weight: 700;
  padding: 15px 20px;
  font-size: 25px;
}

.bottom-left {
  position: absolute;
  bottom: 25%;
  left: -5%;
}


.bottom-left2 {
  position: absolute;
  bottom: 27%;
  left: 60%;
  font-size: 16px;
  font-weight: 500;
}

.login {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .loginform{
  background-color:rgba(155, 46, 7, 0.436);
  padding: 40px 40px 40px 40px;
  border-radius: 60px;
  font-size: 18px;
}

#exampleInputEmail1, #exampleInputPassword1 {
border-radius: 30px;
border-color: black;
border-style: solid;
}

.signin {
border-radius: 30px;
background-color: rgb(21, 105, 111);
color: white;
padding: 4px 16px 4px 16px;
border-color:rgb(21, 105, 111);
border-style: solid;
}


.top-left {
position: absolute;
top: 8px;
left: 16px;
}

.top-right {
position: absolute;
top: 8px;
right: 16px;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
  font-size: 3.5rem;
}
}

/* Navbar Styles */

.navbar-brand {
margin-right: 0px !important
}




.errorlist {
    list-style: none !important;
    margin: 0.4rem 0;
    color: red !important;
    padding: 0;
}

.errors input{
    border: 1px solid red!important;
}

 /* styling baby registration form ends*/



  /* styling baby registration form starts*/

  .daycare_forms{
    width: 50%;
    margin: 10% auto;
    background-color: rgb(238, 242, 240);
    color:rgb(0, 0, 0);
    padding: 20px;
    border-radius: 25px;
    margin-top: 4px;
    padding: 20px;
    
}

.h4heading{
  background-color:rgb(21, 105, 111); 
  padding: 4px; 
  border-radius: 12px; 
  width: 70%; 
  margin-left: 15%;
  text-align: center;
  color: rgb(238, 242, 240);
  margin-bottom: 20px;
}

.mheading{
  background-color:rgb(21, 105, 111); 
  padding: 4px; 
  border-radius: 12px; 
  width: 50%; 
  margin-left: 15%;
  text-align: center;
  margin-left: 25%;
  color: rgb(238, 242, 240);
  margin-bottom: 20px;
  margin-top: 20px;
}


.infoheading{
  background-color:rgb(21, 105, 111); 
  border-radius: 12px; 
  text-align: center;
  padding: 4px; 
  text-align: center;
  color: rgb(238, 242, 240);
  margin-top: 20px;
}
  /* styling baby registration form starts*/


 /* Styling Model Forms starts */

 .form-container {
  display: flex;
  flex-wrap: wrap;
  
  
  
}
.form-container .form-column {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
}

 /* Styling Model Forms ends */

