{% extends 'atsapp/base.html' %} 
{% load static %}

 
{% block content %}

<div class="">
  <br>
  <h1 class="text-center">REGISTRATION OF BABIES</h1>
  {% if submitted %}

    Baby Registration Was Successful!

  {% else %}
<div class="daycare_forms row g-3">

    <form class="" action="" method="POST">
      {% csrf_token %}
      
        {{ form.as_p }}
     
      <input type="submit" value="Submit" class="btn btn-secondary">
    </form>

</div>
  

  {% endif %}
</div>
  
{% endblock %} 

