{% extends 'atsapp/base.html' %} 
{% load static %}

 
{% block content %}
<div class="">

  <h4 class="h4heading">Register Baby Here</h4>
  {% if submitted %}

    Baby Registration Was Successful!

  {% else %}

    <form class="" action="" method="POST">
      {% csrf_token %}

     
      
      
      <div class="form-container p-3" style="width: 70%; margin-left: 15%; border-radius: 20px; background-color: rgb(238,242,255);">
        <div class="form-column">
          <label for="id_babiz_sur_name">Baby Surname</label><br>
          {{ form.babiz_sur_name }}<br>
          
          <label for="id_babiz_other_names">Baby Other Names</label><br>
          {{ form.babiz_other_names }}<br>
 
          <label for="id_babiz_gender">Baby Gender</label><br>
          {{ form.babiz_gender }}<br>
          
          <label for="id_babiz_date_of_birth">Baby Date of Birth</label><br>
          {{ form.babiz_date_of_birth }}<br>
          
          <label for="id_parentz_sur_name">Parent Surname</label><br>
          {{ form.parentz_sur_name }}<br>
          
          <label for="id_parentz_other_names">Parent Other Names</label><br>
          {{ form.parentz_other_names }}<br>
        </div>

        <div class="form-column">
          <label for="id_babiz_sur_name">Parent Gender</label><br>
          {{ form.parentz_gender }}<br>
      
          <label for="id_babiz_other_names">Parent Date of Birth</label><br>
          {{ form.parentz_date_of_birth }}<br>
      
          <label for="id_babiz_gender">Parent Date of Birth</label><br>
          {{ form.parentz_telephone }}<br>
      
          <label for="id_babiz_date_of_birth">Parent Telephone</label><br>
          {{ form.parentz_address }}<br>
      
          <label for="id_parentz_sur_name">Parent Location</label><br>
          {{ form.parentz_email }}<br>
  
        </div>
        
    </div>
    <input type="submit" value="Submit" class="btn btn-light mt-3" style="margin-left: 40%; width: 20%;">
      
    </form>
  

  {% endif %}
</div>
  
{% endblock %} 

