{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'atsapp/css/stail.css' %}">
<title>Daystar Daycare </title>


</head>
<body>
  
    <!-- <div class="container-fluid topnav sticky-top p-0">
      <nav class="navbar navbar-expand-sm" style="background-color:  rgb(21, 105, 111);;">
        <div class="container-fluid">
          <a class="navbar-brand p-3" href="/home/" style="width: 150px;"><img href="/home/" class ="p-0" src="{% static 'atsapp/images/baby-image_09-01.png' %}" alt="" style="width:50%;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="class="nav-link"" href="/babyregistration/">Baby Registration</a> </li>
              <li class="nav-item"><a class="class="nav-link"" href="/sitterregistration/">Sitter Registration</a> </li>
              <li class="nav-item"><a class="class="nav-link"" href="/sitterstatus/">Sitter Checkin/Checkout</a></li>
              <li class="nav-item"><a class="class="nav-link"" href="/babycheckin/">Baby Checkin</a></li>
              <li class="nav-item"><a class="class="nav-link"" href="/babycheckout/">Baby Checkout</a> </li>
              <li class="nav-item"><a class="class="nav-link"" href="/purchaseorder/">Purcahse Orders</a></li>
              <li class="nav-item"> <a class="class="nav-link"" href="/salesorder/">Sales Orders</a></li>
              <li class="nav-item"> <a class="class="nav-link"" href="/editinfo/">Edit</a> </li>
              <li class="nav-item"> <a class="class="nav-link"" href="/logout/">Logout</a></li>
              <div class="search-container">
                {% csrf_token %}
                <form method="get" action="">
                  <input type="text" placeholder="Search.." name="querry">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
          </div>
        </div>
      </nav>
    </div>
       -->
     
    <div class="sidebar mvh-100%">
        <a class="active" href="/home/"><img href="/home/" class ="p-0" src="{% static 'atsapp/images/baby-image_09-01.png' %}" alt="" style="width:50%;"></a>
        <!-- <a class="" href=""><img src="{% static 'atsapp/dashboard_icon_two.svg' %}" alt="" style="width:10%;">&nbsp;&nbsp;</a> -->
        <a class="" href= "/dashboard/"><img src="{% static 'atsapp/images/dashboard_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Dashboard</a>
        <div class="dropdown">
          <a class="btn dropdown-toggle" href="/babylist/" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'atsapp/images/baby_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Baby Details</a>
        
          <ul class="dropdown-menu" style="background-color: rgb(133, 133, 133);">
            <li class="nav-item"><a class="class="nav-link"" href="/babyregistration/"><img src="{% static 'atsapp/images/baby-registration-one.svg' %}" alt="" style="width:20%;">&nbsp;&nbsp;Registration</a> </li>
            <li class="nav-item"></li><a class="" href= "/babylist/"><img src="{% static 'atsapp/images/babylist-icon-4.svg' %}" alt="" style="width:20%;">&nbsp;&nbsp;Baby List</a></li>
            <li class="nav-item"><a class="class="nav-link"" href="/babycheckin/"><img src="{% static 'atsapp/images/baby_checkin_five.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Daily Checkin</a></li>
            <li class="nav-item"><a class="class="nav-link"" href="/babycheckout/"><img src="{% static 'atsapp/images/baby_checkin_seven.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Daily Checkout</a> </li>
            <li class="nav-item"></li><a class="" href="/bcheckinrecord/"><img src="{% static 'atsapp/images/checkin_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Checkin Record</a></li>
            <li class="nav-item"></li><a class="" href="/bcheckoutrecord/"><img src="{% static 'atsapp/images/checkout_icon_two.svg' %}" alt="" style="width:18%;">&nbsp;&nbsp;Checkout Record</a></li>
          </ul>
        </div>


        <div class="dropdown">
          <a class="btn dropdown-toggle" href="/sitterlist/" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'atsapp/images/sitter_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Sitter Details</a>
          <ul class="dropdown-menu" style="background-color: rgb(133, 133, 133);">
            <li class="nav-item"><a class="class="nav-link"" href="/sitterregistration/"><img src="{% static 'atsapp/images/sitter-registration-one.svg' %}" alt="" style="width:20%;">&nbsp;&nbsp;Registration</a> </li>
            <li class="nav-item"><a class="class="nav-link"" href="/sitterstatus/"><img src="{% static 'atsapp/images/check-in-check-out-icon-new-one.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Checkin/Checkout</a></li>
            <a class="" href="/sitterlist/"><img src="{% static 'atsapp/images/sitter_list_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Sitter List</a>
            
          </ul>
        </div>
        <div class="dropdown">
          <a class="btn dropdown-toggle" href="/babylist/" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'atsapp/images/sales_icon_twos.svg' %}" alt="" style="width:25%;">&nbsp;&nbsp;Sales Details</a>
        
          <ul class="dropdown-menu" style="background-color: rgb(133, 133, 133);">
            <li class="nav-item" id="drop"><a class="class="nav-link"" href="/purchaseorder/"><img src="{% static 'atsapp/images/purchase_orders_icon_one.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Purcahse Orders</a></li>
            <li class="nav-item"></li><a class="" href="/inventory/"><img src="{% static 'atsapp/images/inventory_icon_two.svg' %}" alt="" style="width:20%;">&nbsp;&nbsp;Inventory</a></li>
            <li class="nav-item"> <a class="class="nav-link"" href="/salesorder/"><img src="{% static 'atsapp/images/sales_orders_icon_one.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Sales Orders</a></li>
            <li class="nav-item"></li><a class="" href="/financereport/"><img src="{% static 'atsapp/images/finance_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Finance Report</a></li>
            <li class="nav-item"></li><a class="" href="/salesreport/"><img src="{% static 'atsapp/images/sales_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Sales Report</a></li>
            
          </ul>
        </div>
        
        <li class="nav-item"> <a class="class="nav-link"" href="/editinfo/"><img src="{% static 'atsapp/images/edit_info_one.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Edit</a> </li>
        <li class="nav-item"> <a class="class="nav-link"" href="/logout/"><img src="{% static 'atsapp/images/logout_icon.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Logout</a></li>
      </div>
      

      
      
      <!-- Page content -->
<div class="content">

    {% block content %}
        
        
    {% endblock %}

</div>


  <div class="footer">
    <p> &#x7c; &nbsp;Powered By: Awoii Tech Systems  &nbsp; &#x7c; &nbsp; P.O. Box 237 Ntinda &nbsp; &#x7c; &nbsp;Telephone: +256 752 616 406 &nbsp; &#x7c; <span><a class = "text-white" href="mailto:awoiibobwilly@gmail.com"> &nbsp; awoiibobwilly@gmail.com </a></span>&nbsp; &#x7c; &nbsp; 2004 Copy Right &nbsp; &#x7c; &nbsp; All Rights Reserved &nbsp; &#x7c;</p>
    <p> </p>
       
  </div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>