{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'atsapp/css/stail.css' %}">
<title>Title</title>


</head>
<body>
    <div class="topnav sticky-top">
        <a class="active" href="/home/">Home</a>
        <a class="active" href="{% url 'babyregistrationats' %}">Baby Registration</a>
        <a class="active" href="{% url 'sitterregistrationats' %}">Sitter Registration</a>
        <a class="active" href="{% url 'sitterstatusats' %}">Sitter In</a>
        <a class="active" href="{% url 'babycheckinats' %}">Baby Checkin</a>
        <a class="active" href="{% url 'babycheckoutats' %}">Baby Checkout</a>
        <a class="active" href="{% url 'purchaseorderats' %}">Purcahse Orders</a>
        <a class="active" href="{% url 'salesorderats' %}">Sales Orders</a>
        <a class="active" href="{% url 'editinfoats' %}">Edit</a>
        <a class="active" href="{% url 'logout' %}">Logout</a>
       

        <div class="search-container">
          {% csrf_token %}
          <form method="get" action="">
            <input type="text" placeholder="Search.." name="querry">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>


    <div class="sidebar mvh-100%">
        <a class="active" href="/homeat/">DAYSTAR</a>
        <a class="active" href="/dashboard/">Dashbaord</a>
        <a class="active" href= "/babylist/">Baby Record</a>
        <a class="active" href="{% url 'sitterlistats' %}">Sitter Record</a>
        <a class="active" href="{% url 'financereportats' %}">Finance Report</a>
        <a class="active" href="{% url 'salesreportats' %}">Sales Report</a>
        <a class="active" href="{% url 'inventoryats' %}">Inventory</a>
        <a class="active" href="{% url 'bcheckinrecordats' %}">Checkin Record</a>
        <a class="active" href="{% url 'bcheckoutrecordats' %}">Checkout</a>
        
      </div>
      

      
      
      <!-- Page content -->
<div class="content">

    {% block content %}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident laudantium tenetur perspiciatis ratione odio, quaerat rerum quidem quo delectus harum corporis dignissimos amet recusandae laboriosam, excepturi itaque pariatur perferendis iste!</p>
        
    {% endblock %}

</div>


  <div class="footer">
    <p> &#x7c; &nbsp;Powered By: Awoii Tech Systems  &nbsp; &#x7c; &nbsp; P.O. Box 237 Ntinda &nbsp; &#x7c; &nbsp;Telephone: +256 752 616 406 &nbsp; &#x7c; <span><a class = "text-white" href="mailto:awoiibobwilly@gmail.com"> &nbsp; awoiibobwilly@gmail.com </a></span>&nbsp; &#x7c; &nbsp; 2004 Copy Right &nbsp; &#x7c; &nbsp; All Rights Reserved &nbsp; &#x7c;</p>
    <p> </p>
       
  </div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>