{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'atsapp/css/stail.css' %}">
<title>Daystar Daycare </title>


</head>
<body>
  
    <div class="container-fluid topnav sticky-top p-0">
      <nav class="navbar navbar-expand-sm" style="background-color:  rgb(21, 105, 111);;">
        <div class="container-fluid">
          <a class="navbar-brand p-3" href="/homeat/" style="width: 150px;"><img class ="p-0" src="{% static 'atsapp/images/baby-image_09-01.png' %}" alt="" style="width:50%;"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="class="nav-link"" href="/babyregistration/">Baby Registration</a> </li>
              <li class="nav-item"><a class="class="nav-link"" href="/sitterregistration/">Sitter Registration</a> </li>
              <li class="nav-item"><a class="class="nav-link"" href="/sitterstatus/">Sitter Checkin/Checkout</a></li>
              <li class="nav-item"><a class="class="nav-link"" href="/babycheckin/">Baby Checkin</a></li>
              <li class="nav-item"><a class="class="nav-link"" href="/babycheckout/">Baby Checkout</a> </li>
              <li class="nav-item"><a class="class="nav-link"" href="/purchaseorder/">Purcahse Orders</a></li>
              <li class="nav-item"> <a class="class="nav-link"" href="/salesorder/">Sales Orders</a></li>
              <li class="nav-item"> <a class="class="nav-link"" href="/editinfo/">Edit</a> </li>
              <li class="nav-item"> <a class="class="nav-link"" href="/logout/">Logout</a></li>
              <!-- <div class="search-container">
                {% csrf_token %}
                <form method="get" action="">
                  <input type="text" placeholder="Search.." name="querry">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div> -->
          </div>
        </div>
      </nav>
    </div>
      
     
    <div class="sidebar mvh-100%">
        <a class="active" href="/homeat/">DAYSATR DAYCARE</a>
        <!-- <a class="" href=""><img src="{% static 'atsapp/dashboard_icon_two.svg' %}" alt="" style="width:10%;">&nbsp;&nbsp;</a> -->
        <a class="" href= "/dashboard/"><img src="{% static 'atsapp/images/dashboard_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Dashboard</a>
        <a class="" href= "/babylist/"><img src="{% static 'atsapp/images/baby_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Baby Record</a>
        <a class="" href="{% url 'sitterlist' %}"><img src="{% static 'atsapp/images/sitter_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Sitter Record</a>
        <a class="" href="/financereport/"><img src="{% static 'atsapp/images/finance_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Finance Report</a>
        <a class="" href="/salesreport/"><img src="{% static 'atsapp/images/sales_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Sales Report</a>
        <a class="" href="/inventory/"><img src="{% static 'atsapp/images/inventory_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Inventory</a>
        <a class="" href="/bcheckinrecord/"><img src="{% static 'atsapp/images/checkin_icon_two.svg' %}" alt="" style="width:15%;">&nbsp;&nbsp;Checkin Record</a>
        <a class="" href="/bcheckoutrecord/"><img src="{% static 'atsapp/images/checkout_icon_two.svg' %}" alt="" style="width:17%;">&nbsp;&nbsp;Checkout Record</a>
        
      </div>
      

      
      
      <!-- Page content -->
<div class="content">

    {% block content %}
        
        
    {% endblock %}

</div>


  <div class="footer">
    <p> &#x7c; &nbsp;Powered By: Awoii Tech Systems  &nbsp; &#x7c; &nbsp; P.O. Box 237 Ntinda &nbsp; &#x7c; &nbsp;Telephone: +256 752 616 406 &nbsp; &#x7c; <span><a class = "text-white" href="mailto:awoiibobwilly@gmail.com"> &nbsp; awoiibobwilly@gmail.com </a></span>&nbsp; &#x7c; &nbsp; 2004 Copy Right &nbsp; &#x7c; &nbsp; All Rights Reserved &nbsp; &#x7c;</p>
    <p> </p>
       
  </div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>