{% extends 'atsapp/base.html' %} 
{% load static %}




{% block content %}

<div class="container mt-4" style = "font-size: 12px; border-radius: 40px">
  <h4  class="infoheading">Baby Checkin Details</h4>
  <div class="border p-3 overflow-scroll" style = "border-radius: 15px;">

    <table class="table table table-hover table-light">
        <thead>
          <tr>
            <th scope="col">Checkin ID No</th>
            <th scope="col">Baby Surname</th>
            <th scope="col">Checkin Time</th>
            <th scope="col">Checkin Date</th>
            <th scope="col">Care Time</th>
            <th scope="col">Gurdian's Surname</th>
            <th scope="col">Guardian's Other Names</th>
            <th scope="col">Guardian's Phone</th>
            <th scope="col">Sitter Surname</th>
            <th scope="col">Payment Choice</th>
            <th scope="col">Checkin Fee</th>
            <th scope="col">Fee Currency</th>
            <th scope="col">Comment</th>
            <th scope="col">Update</th>
            <th scope="col">Remove</th>

          </tr>
        </thead>

               
        <tbody>
          {% for checkin in checkinlist %}
          <tr>
            <td>CI-0{{ checkin.id }}</td>
            <td>{{ checkin.baby_id }}</td>
            <td>{{ checkin.checkin_time }}</td>
            <td>{{ checkin.checkin_date }}</td>
            <td>{{ checkin.checkin_care_time }}</td>
            <td>{{ checkin.checkin_guardians_sur_name }}</td>
            <td>{{ checkin.checkin_guardians_other_names }}</td>
            <td>{{ checkin.checkin_guardians_telephone }}</td>
            <td>{{ checkin.sitter_id }}</td>
            <td>{{ checkin.checkin_payment_choice }}</td>
            <td>{{ checkin.daystar_checkin_fee }}</td>
            <td>{{ checkin.daystar_checkin_fee_currency }}</td>
            <td>{{ checkin.checkin_comment }}</td>
            <td><a class = "btn btn-sm btn-success" href="{% url 'edit_checkin' checkin.id %}" style = "font-size: 10px;">Edit</a></td>
            <td><a class = "btn btn-sm btn-danger" href= "{% url 'delete_checkin' checkin.id %}" style = "font-size: 10px;">Delete</a></td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table> 
  </div>
  
  </div>
  



{% endblock %}