{% extends 'atsapp/base.html' %} 
{% load static %}




{% block content %}

<div>

    <h4 class="infoheading">Baby Checkout Record</h4>
<div class="p-4">
   
    <table class="table table-success table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">Baby ID No</th>
            <th scope="col">Baby Sur Name</th>
            <th scope="col">Baby Other Names</th>
            <th scope="col">Check Out Date</th>
            <th scope="col">Check Out Time</th>
            <th scope="col">Period of Stay</th>
            <th scope="col">Picker's Sur Name</th>
            <th scope="col">Picker's Other Names</th>
            <th scope="col">Picker's Contact</th>
            <th scope="col">Sitter's Sur Name</th>
            <th scope="col">Sitter's Other Names</th>
            <th scope="col">Fee Paid by Baby</th>
            <th scope="col">Allowance Paid to Sitter</th>
            <th scope="col">Comment</th>
          </tr>
          <tr>
            <th scope="row">DDB-0001</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
          </tr>
          <tr>
            <th scope="row">DDB-0002</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
          </tr>
          <tr>
            <th scope="row">DDB-0003</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
          </tr>
        </tbody>
      </table> 
</div>
</div>




{% endblock %}