{% extends 'atsapp/base.html' %} 
{% load static %}

 
{% block content %}

<br>

<form class="" action="" method="POST">
  {% csrf_token %}

  <h4 class="h4heading">Edit Baby List</h4>
  <div class="form-container p-3" style="width: 70%; margin-left: 15%; border-radius: 20px; background-color: rgb(238,242,255);">
    <div class="form-column">
      <label for="id_babiz_sur_name">Baby Surname</label><br>
      {{ form.babiz_sur_name }}<br>
      
      <label for="id_babiz_other_names">Baby Other Names</label><br>
      {{ form.babiz_other_names }}<br>

      <label for="id_babiz_gender">Baby Gender</label><br>
      {{ form.babiz_gender }}<br>
      
      <label for="id_babiz_date_of_birth">Baby Date of Birth</label><br>
      {{ form.babiz_date_of_birth }}<br>
      
      <label for="id_parentz_sur_name">Parent Surname</label><br>
      {{ form.parentz_sur_name }}<br>
      
      <label for="id_parentz_other_names">Parent Other Names</label><br>
      {{ form.parentz_other_names }}<br>
    </div>

    <div class="form-column">
      <label for="id_babiz_sur_name">Parent Gender</label><br>
      {{ form.parentz_gender }}<br>
  
      <label for="id_babiz_other_names">Parent Date of Birth</label><br>
      {{ form.parentz_date_of_birth }}<br>
  
      <label for="id_babiz_gender">Parent Date of Birth</label><br>
      {{ form.parentz_telephone }}<br>
  
      <label for="id_babiz_date_of_birth">Parent Telephone</label><br>
      {{ form.parentz_address }}<br>
  
      <label for="id_parentz_sur_name">Parent Location</label><br>
      {{ form.parentz_email }}<br>

    </div>
    
</div>
<input type="submit" value="Submit" class="btn btn-light mt-3" style="margin-left: 40%; width: 20%;" value="update task"><br><br><br>
<center>
  <button onclick="location.href= /babylist/" class="btn btn-secondary">Back To Baby Registration List</button>
</center>
</form>
<br>

<h4 class="h4heading">Edit Sitter List</h4>
<form class="" action="" method="POST">

  {% csrf_token %}

  <div class="form-container p-3" style="width: 70%; margin-left: 15%; border-radius: 20px; background-color: rgb(238,242,255);">
    <div class="form-column">
      <label for="id_sit_sur_name">Sitter Surname</label><br>
      {{ form.sit_sur_name }}<br>
      
      <label for="id_sit_other_names">Sitter Other Names</label><br>
      {{ form.sit_other_names }}<br>

      <label for="id_sit_gender">Sitter Gender</label><br>
      {{ form.sit_gender }}<br>
      
      <label for="id_sit_date_of_birth">Sitter Date of Birth</label><br>
      {{ form.sit_date_of_birth }}<br>
      
      <label for="id_sit_nin_number">NIN Number</label><br>
      {{ form.sit_nin_number }}<br>
      
      <label for="id_sit_educlevel">Education Level</label><br>
      {{ form.sit_educlevel }}<br>
      
      <label for="id_sit_religion">Sitter Religion</label><br>
      {{ form.sit_religion }}<br>
      
      <label for="id_sit_address">Sitter Address</label><br>
      {{ form.sit_address }}<br>
      
      <label for="id_sit_email">Sitter Email</label><br>
      {{ form.sit_email }}<br>
    </div>

    <div class="form-column">
      <label for="id_sit_telephone">Sitter Telephone</label><br>
      {{ form.sit_telephone }}<br>
  
      <label for="id_snok_sur_name">Next Of Kin Surname</label><br>
      {{ form.snok_sur_name }}<br>
  
      <label for="id_snok_other_names">Next Of Kin Other Names</label><br>
      {{ form.snok_other_names }}<br>
  
      <label for="id_snok_gender">Next Of Kin Gender</label><br>
      {{ form.snok_gender }}<br>
  
      <label for="id_snok_date_of_birth">Next Of Kin Date of Birth</label><br>
      {{ form.snok_date_of_birth }}<br>
      <label for="id_snok_address">Next Of Kin Address</label><br>
      {{ form.snok_address }}<br>
  
      <label for="id_snok_email">Next Of Kin Email</label><br>
      {{ form.snok_email }}<br>
  
      <label for="id_snok_telephone">Next Of Kin Telephone</label><br>
      {{ form.snok_telephone }}<br>

    </div>
    
</div>
<input type="submit" value="Submit" class="btn btn-light mt-3" style="margin-left: 40%; width: 20%;">
</form>
<br>
<h4 class="mheading">Edit Inventory List</h4>

<div class="daycare_forms row g-3">

  <form class="" action="" method="POST">
    {% csrf_token %}
    
      {{ formp.as_p }}
   
      <input type="submit" value="Submit" class="btn btn-secondary" style="margin-left: 40%; width: 25%; border-radius: 20px; background-color:rgb(21, 105, 111)">
  </form>

</div>

<br>

<h4 class="h4heading">Edit Baby Checkin List</h4>
<form class="" action="" method="POST">

  {% csrf_token %}

  <div class="form-container p-3" style="width: 70%; margin-left: 15%; border-radius: 20px; background-color: rgb(238,242,255);">
      <div class="form-column">
      <label for="id_baby_id">Baby ID Number</label><br>
          {{ form.baby_id }}<br>
  
          <label for="id_checkin_time">Checkin Time</label><br>
          {{ form.checkin_time }}<br>
          
          <label for="id_checkin_date">Checkin Date</label><br>
          {{ form.checkin_date }}<br>
          
          <label for="id_checkin_care_time">Care Time</label><br>
          {{ form.checkin_care_time }}<br>
          
          <label for="id_checkin_guardians_sur_name">Guardians Surname</label><br>
          {{ form.checkin_guardians_sur_name }}<br>
          
          <label for="id_checkin_guardians_other_names">Guardians Other Names</label><br>
          {{ form.checkin_guardians_other_names }}<br>
  
          <label for="id_checkin_guardians_telephone">Guardians Telephone</label><br>
          {{ form.checkin_guardians_telephone }}<br>
          
        </div>
  
        <div class="form-column">
    
          <label for="id_checkin_payment_choice">Payment Choice</label><br>
          {{ form.checkin_payment_choice }}<br>
      
          <label for="id_sitter_id">Sitter ID Number</label><br>
          {{ form.sitter_id }}<br>
      
          <label for="id_daystar_checkin_fee">Daystar Checkin Fee</label><br>
          {{ form.daystar_checkin_fee }}<br>
      
          <label for="id_daystar_checkin_fee_currency">Daystar Checkin Fee Currency</label><br>
          {{ form.daystar_checkin_fee_currency }}<br>
  
          <label for="id_checkin_comment">Daystar Checkin Fee Currency</label><br>
          {{ form.checkin_comment }}<br>
        </div>
    
  </div>
<input type="submit" value="Submit" class="btn btn-light mb-5 mt-3" style="margin-left: 40%; width: 20%;">
</form>
<br>



<h4 class="h4heading">Edit Baby Checkout List</h4>
<form class="" action="" method="POST">

  {% csrf_token %}

  <div class="form-container p-3" style="width: 70%; margin-left: 15%; border-radius: 20px; background-color: rgb(238,242,255);">
      <div class="form-column">
        <label for="id_baby_id">Baby ID Number</label><br>
        {{ form.baby_id }}<br>
        
        <label for="id_checkout_time">Checkout Time</label><br>
        {{ form.checkout_time }}<br>
        
        <label for="id_checkout_date">Checkout Date</label><br>
        {{ form.checkout_date }}<br>
        
        <label for="id_checkout_care_time">Care Time</label><br>
        {{ form.checkout_care_time }}<br>
        
        <label for="id_checkout_guardians_sur_name">Guardians Surname</label><br>
        {{ form.checkout_guardians_sur_name }}<br>
        
        <label for="id_checkout_guardians_other_names">Guardians Other Names</label><br>
        {{ form.checkout_guardians_other_names }}<br>

        <label for="id_checkout_guardians_telephone">Guardians Telephone</label><br>
        {{ form.checkout_guardians_telephone }}<br>

        <label for="id_checkout_payment_choice">Payment Choice</label><br>
        {{ form.checkout_payment_choice }}<br>
        
      </div>

    
    

      <div class="form-column">
    
        <label for="id_sitter_id">Sitter ID Number</label><br>
        {{ form.sitter_id }}<br>

        <label for="id_daystar_care_time_fee">Daystar Care Time Fee</label><br>
        {{ form.daystar_care_time_fee }}<br>
    
        <label for="id_daystar_care_time_fee_currency">Daystar Care Time Fee Currency</label><br>
        {{ form.daystar_care_time_fee_currency }}<br>
    
        <label for="id_checkout_sitter_fee">Checkout Sitter Fee</label><br>
        {{ form.checkout_sitter_fee }}<br>

        <label for="id_checkout_sitter_fee_currency">Checkout Sitter Fee Currency</label><br>
        {{ form.checkout_sitter_fee_currency }}<br>

        <label for="id_checkout_comment">Daystar checkout Fee Currency</label><br>
        {{ form.checkout_comment }}<br>
    
    
  </div>
  </div>
  <input type="submit" value="Submit" class="btn btn-secondary mt-3 mb-5" style="margin-left: 40%; width: 25%; border-radius: 20px; background-color:rgb(21, 105, 111)">
</form>

<br><br>
<div class="">
  <h4 class="mheading">Purchase Entry</h4>
  {% if submitted %}

    Inventry Was Suscessfully Updated!

  {% else %}
<div class="daycare_forms row g-3">

    <form class="" action="" method="POST">
      {% csrf_token %}
      
        {{ form_inventory.as_p }}
     
        <input type="submit" value="Edit Inventory List" class="btn btn-secondary" style="margin-left: 40%; width: 25%; border-radius: 20px; background-color:rgb(21, 105, 111)">
    </form>

</div>
  

  {% endif %}
</div>

<div class="">
  <h4 class="mheading" >Generate New Sales Order Here</h4>
  {% if submitted %}

    Sales Order Was Successfully Created!

  {% else %}
<div class="daycare_forms row g-3" >

    <form class="" action="" method="POST">
      {% csrf_token %}
      
        {{ form.as_p }}
     
        <input type="submit" value="Submit" class="btn btn-secondary" style="margin-left: 40%; width: 25%; border-radius: 20px; background-color:rgb(21, 105, 111)">
    </form>

</div>
  

  {% endif %}
</div>

{% endblock %} 

