{% extends 'atsapp/base.html' %} 
{% load static %}




{% block content %}


<div>

    <h2 class="text-center text-white bg-info margin-left-4">FINANCE RECORD</h2>
      <div class="table-responsive p-4">
        <table class="table table-sm text-center table-bordered table-info table-striped">
        <thead>
          <tr>
            <th scope="col">Baby ID No</th>
            <th scope="col">Baby Sur Name</th>
            <th scope="col">Baby Other Names</th>
            <th scope="col">Check In Date</th>
            <th scope="col">Check Out Date</th>
            <th scope="col">Period of Stay</th>
            <th scope="col">Sitter ID No</th>
            <th scope="col">Sitter Sur Name</th>
            <th scope="col">Sitter Other Names</th>
            <th scope="col">Fee Paid by Baby</th>
            <th scope="col">Allowance Due to Sitter</th>

          </tr>
          <tr>
            <td scope="row">DDB-0001</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>
          <tr>
            <td scope="row">DDB-0002</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>
          <tr>
            <td scope="row">DDB-0003</th>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
          </tr>
        </tbody>
      </table> 
</div>
</div>



{% endblock %}