
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<link rel="stylesheet" href="{% static 'atsapp/css/stail.css' %}">


<title>Title</title>

</head>

<body>

                {% block content %}

                <div>
                    <div class="container col-12">
                        <img class="img-fluid" src="{% static 'atsapp/images/ddimage.jpg' %}" alt="Snow" style="max-width: 100%; height: auto;">
                        <div class="centered1"><img src="{% static 'atsapp/images/baby-image_08-01.png' %}" alt="Snow" style="width:100%;"></div>
                        <div class="centered">WELCOME TO DAYSTAR DAYCARE</div>
                        <div class="centered2"><a class = "indexbut" type="submit" href="/login/"> GET STARTED </a></div>
                        <div class="bottom-left"><div class="bottom-left2"> Awoii Tech Systems</div> <br> <img src="{% static 'atsapp/images/Awoii_Tech_Systems_03-01.png' %}" alt="Snow" style="width:18%;"> </div>
                    </div>
                
                </div>
                
                {% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    
</body>
</html>


