{% extends 'atsapp/base.html' %} 
{% load static %}




{% block content %}

<div class="container mt-4" style = "font-size: 12px; border-radius: 40px">
  <h4  class="infoheading">Inventory List</h4>
  <div class="border p-3 overflow-scroll" style = "border-radius: 15px;">

    <table class="table table table-hover table-light">
      <thead>
        <tr>
          <th scope="col">Item ID</th>
          <th scope="col">Item Number</th>
          <th scope="col">Product Name</th>
          <th scope="col">Unit Cost</th>
          <th scope="col">Date of Purchase</th>
          <th scope="col">Entry Date</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for purchase in purchaselists %}
        <tr>
          <td>{{ purchase.id }}</td>
          <td>{{ purchase.po_item_number }}</td>
          <td>{{ purchase.po_product_name }}</td>
          <td>{{ purchase.po_unit_cost }}</td>
          <td>{{ purchase.po_purchase_date }}</td>
          <td>{{ purchase.po_entry_date }}</td>
          <td>{{ purchase.po_quantity }}</td>
          <td>{{ purchase.total }}</td>
          <td><a class = "btn btn-sm btn-success" href="{% url 'edit_inventory' purchase.id %}" style = "font-size: 10px;">Edit</a></td>
          <td><a class = "btn btn-sm btn-danger" href= "{% url 'delete_inventory' purchase.id %}" style = "font-size: 10px;">Delete</a></td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table> 
</div>

</div>

   




{% endblock %}