{% extends 'atsapp/base.html' %} 
{% load static %}




{% block content %}


<div>

    <h1 class="text-center">LIST OF ENROLLED BABIES</h1>
<div class="p-5">

   
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID Number</th>
            <th scope="col">Sur Name</th>
            <th scope="col">Other Names</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Education Level</th>
            <th scope="col">Location</th>
            <th scope="col">Email</th>
            <th scope="col">Telephone</th>
            <th scope="col">Next of Kin's Sur Name</th>
            <th scope="col">Next of Kin's Other Names</th>
            <th scope="col">Next of Kin's Date of Birth</th>
            <th scope="col">Next of Kin's Gender</th>
            <th scope="col">Next of Kin's Location</th>
            <th scope="col">Next of Kin's Email</th>
            <th scope="col">Next of Kin's Telephone</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">DDBS-00001</th>
            <td>Nakato</td>
            <td>Jane</td>
            <td>CF09212111FEKM</td>
            <td>03/011/2009</td>
            <td>Female</td>
            <td>UCE</td>
            <td>Kisugu</td>
            <td>nakaja09@gmail.com</td>
            <td>+256778212121</td>
            <td>Katwere</td>
            <td>Kant</td>
            <td>25/02/2009</td>
            <td>Male</td>
            <td>Kisugu</td>
            <td>Brother</td>
            <td>katwekan@gmail.com</td>
            <td>+256705123123</td>
          </tr>
          <tr>
            <th scope="row">DDBS-00002</th>
            <td>Nakato</td>
            <td>Jane</td>
            <td>CF09212111FEKM</td>
            <td>03/011/2009</td>
            <td>Female</td>
            <td>UCE</td>
            <td>Kisugu</td>
            <td>nakaja09@gmail.com</td>
            <td>+256778212121</td>
            <td>Katwere</td>
            <td>Kant</td>
            <td>25/02/2009</td>
            <td>Male</td>
            <td>Kisugu</td>
            <td>Brother</td>
            <td>katwekan@gmail.com</td>
            <td>+256705123123</td>
          </tr>
          <tr>
            <th scope="row">DDBS-00003</th>
            <td>Nakato</td>
            <td>Jane</td>
            <td>CF09212111FEKM</td>
            <td>03/011/2009</td>
            <td>Female</td>
            <td>UCE</td>
            <td>Kisugu</td>
            <td>nakaja09@gmail.com</td>
            <td>+256778212121</td>
            <td>Katwere</td>
            <td>Kant</td>
            <td>25/02/2009</td>
            <td>Male</td>
            <td>Kisugu</td>
            <td>Brother</td>
            <td>katwekan@gmail.com</td>
            <td>+256705123123</td>
          </tr>
        </tbody>
      </table> 
</div>
</div>



{% endblock %}